Repository kadena-io/chainweb-node, pull requests merged in 2019-11, with the labels that each got.

#633 More Miner Logging
  miner/Miner.hs
Labels: component: miner

#635 Block Misconfigured Peers
  chainweb.cabal
  overrides.nix
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Chainweb/PeerResources.hs
  src/Chainweb/CutDB.hs
  src/Chainweb/HostAddress.hs
  src/Chainweb/Utils.hs
  src/P2P/Node.hs
  src/P2P/Node/PeerDB.hs
  src/P2P/Node/RestAPI/Server.hs
  test/Chainweb/Test/Mempool.hs
Labels: component: p2p

#628 Fix Testnet Genesis
  chainweb.cabal
  pact/genesis/devnet/allocations.yaml
  pact/genesis/devnet/grants0.yaml
  pact/genesis/devnet/grantsN.yaml
  pact/genesis/devnet/keys.yaml
  pact/genesis/devnet/keysets.yaml
  pact/genesis/mainnet/test-allocations.yaml
  pact/genesis/ns.yaml
  pact/genesis/prodnet/allocations.yaml
  pact/genesis/prodnet/grants0.yaml
  pact/genesis/prodnet/grantsN.yaml
  pact/genesis/testnet/allocations.yaml
  pact/genesis/testnet/grants0.yaml
  pact/genesis/testnet/grantsN.yaml
  pact/genesis/testnet/keysets.yaml
  pact/genesis/testnet/load-ns-testnet.yaml
  pact/genesis/testnet/ns.yaml
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentNPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMNPayload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  tools/ea/Ea.hs
  tools/ea/Ea/Genesis.hs
  tools/standalone/Standalone/Utils.hs
  tools/txg/TXG/Simulate/Contracts/Common.hs
Labels: REQ DB RESET, bug, component: contract-data

#640 fix some http error responses
  src/Chainweb/Mempool/RestAPI/Server.hs
  src/Chainweb/Miner/RestAPI/Server.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/P2P/Node/RestAPI/Server.hs
Labels: bug

#650 Update README.md
  README.md
Labels: documentation

#627 Perform block header validations early
  src/Chainweb/BlockHeader/Validation.hs
  src/Chainweb/Sync/WebBlockHeaderStore.hs
Labels: bug, component: cuts

#652 Configurable `cutFetchTimeout`
  src/Chainweb/Chainweb.hs
  src/Chainweb/CutDB.hs
  stack.yaml
  test/Chainweb/Test/CutDB.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: cuts

#653 Bounded Peer Check Concurrency
  chainweb.cabal
  src/P2P/Node.hs
Labels: component: p2p

#654 add ubuntu-16.04 build
  .github/workflows/applications.yml
Labels: component: project-config

#666 [p2p] Less connection test concurrency
  src/P2P/Node.hs
Labels: component: p2p

#664 [BUG FIX] Skip PeerDB sync for task queue P2P sessions
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Chainweb/CutResources.hs
  src/P2P/Node.hs
Labels: bug, component: p2p

#667 [p2p] Show which address is being rejected
  src/P2P/Node/RestAPI/Server.hs
Labels: component: p2p

#675 Only allow small rewinds on new block
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/Service/Types.hs
Labels: component: pact-service

#674 Initial cut height limit and private flag
  src/Chainweb/Chainweb.hs
  src/Chainweb/Cut.hs
  src/Chainweb/CutDB.hs
  src/P2P/Node.hs
  src/P2P/Node/Configuration.hs
  src/P2P/Node/PeerDB.hs
  tools/genconf/GenConf.hs
Labels: component: cuts

#686 Private Mining
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Miner/Pact.hs
  src/Chainweb/Miner/RestAPI/Server.hs
  test/Chainweb/Test/MultiNode.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  tools/genconf/GenConf.hs
  tools/standalone/Standalone.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: miner

#690 Configurable Work Request Limit
  CHANGELOG.md
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Config.hs
Labels: component: miner

#692 Better Changelog
  CHANGELOG.md
Labels: documentation

#658 [PactService] chain-data on /local
  chainweb.cabal
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
Labels: component: pact-service

#684 Move the Miner
  chainweb.cabal
  miner/Miner.hs
  miner/README.org
Labels: component: miner

#689 build pact and chainweb with optimization 2
  .github/workflows/applications.yml
Labels: component: project-config

#696 Consolidate Cut Config
  CHANGELOG.md
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/CutResources.hs
  src/Chainweb/CutDB.hs
  test/Chainweb/Test/CutDB.hs
  tools/genconf/GenConf.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: cuts

#697 Clean up GenConf
  tools/genconf/GenConf.hs
Labels: component: tooling

#699 Increased Default Session Timeout
  src/P2P/Node/Configuration.hs
Labels: component: p2p

#694 Move notifyReady to before runChainweb
  node/ChainwebNode.hs
Labels: component: project-config

#703 [BUGFIX] certificateChainFile and keyFile configuration file properties
  src/P2P/Peer.hs
Labels: bug, component: p2p

#693 Add a cabal freeze file
  .github/workflows/applications.yml
  cabal.config
Labels: component: project-config

#709 Counting Work Refusals
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#604 [mempool] run a thread to force mempool pruning in case mining is off.
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Miners.hs
Labels: component: mempool

#715 Fix slow tests
  src/Chainweb/Chainweb.hs
  src/Chainweb/WebPactExecutionService/Types.hs
  src/P2P/Node.hs
  src/P2P/Node/RestAPI/Server.hs
  test/Chainweb/Test/MultiNode.hs
  test/SlowTests.hs
Labels: component: testing, documentation

#716 Inject X-Chainweb-Node-Version header in requests
  src/Chainweb/RestAPI.hs
  src/Chainweb/RestAPI/Utils.hs
Labels: component: logging, component: p2p, enhancement

#719 Configurable block gas limit (finally)
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Mempool/RestAPI/Client.hs
  src/Chainweb/Pact/Service/PactInProcApi.hs
  test/Chainweb/Test/Mempool.hs
  test/Chainweb/Test/Mempool/InMem.hs
  test/Chainweb/Test/Mempool/RestAPI.hs
  test/Chainweb/Test/Pact/Utils.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: mempool

#713 [PactService] Fork Benchmarking
  bench/Bench.hs
  chainweb.cabal
  src/Chainweb/Pact/Backend/ForkingBench.hs
Labels: component: pact-service

#718 Make external test/bench generation a flag, reenable tests
  .gitlab-ci.yml
  overrides.nix
  project.nix
Labels: component: project-config

#671 Remove slow epoch check
  CHANGELOG.md
  src/Chainweb/BlockHeader.hs
Labels: Fork, component: miner

#728 benches with diff tx counts
  src/Chainweb/Pact/Backend/ForkingBench.hs
  stack.yaml
Labels: component: pact-service

#722 Seed Initial Module Cache in Pact Service at Genesis
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  test/Chainweb/Test/Pact/Utils.hs
Labels: component: pact-service

#733 Complete Config
  complete-config.yaml
  src/Chainweb/Chainweb.hs
Labels: documentation

#730 [TXG] Lower gas limit for transfers
  tools/txg/TXG.hs
Labels: component: tooling

#734 Fix publishing latest build in S3
  .github/workflows/applications.yml
Labels: component: project-config

#623 TransactionExec Monad Refactor
  chainweb.cabal
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  src/Chainweb/Utils.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/transfer-accounts-expected.txt
Labels: component: pact-service

#736 Testnet02 -> Testnet03
  src/Chainweb/BlockHeader/Genesis.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Miner/Core.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/PowHash.hs
  src/Chainweb/RestAPI/Orphans.hs
  src/Chainweb/Version.hs
  src/P2P/Node.hs
  src/P2P/Peer.hs
  test/Chainweb/Test/BlockHeader/Genesis.hs
  test/Chainweb/Test/Orphans/Internal.hs
  test/Chainweb/Test/P2P/Peer/BootstrapConfig.hs
  test/golden/testnet02-block-hashes-expected.txt
  test/golden/testnet03-block-hashes-expected.txt
  tools/ea/Ea/Genesis.hs
  tools/standalone/Standalone/Chainweb.hs
  tools/test-miner/TestMiner.hs
Labels: REQ CONFIG UPDATE, REQ DB RESET

#740 use `envWithCleanup` instead of `perRunEnvWithCleanup` for benches
  src/Chainweb/Pact/Backend/ForkingBench.hs
Labels: component: testing

#735 Close update streams after about 4 minutes
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/CutDB.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#737 Built-in RTS Options
  chainweb.cabal
Labels: component: project-config

#751 Display Unauthorized Miner
  chainweb.cabal
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#723 Fix insufficient gas UX on `/send`
  src/Chainweb/Chainweb.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/Service/BlockValidation.hs
  src/Chainweb/Pact/Service/Types.hs
  src/Chainweb/Transaction.hs
  src/Chainweb/WebPactExecutionService.hs
  src/Chainweb/WebPactExecutionService/Types.hs
  test/Chainweb/Test/CutDB.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/Utils.hs
Labels: component: pact-service

#752 Logging of Orphans
  node/ChainwebNode.hs
  src/Chainweb/Logging/Miner.hs
  src/Chainweb/Miner/Coordinator.hs
Labels: component: miner

#744 Bump pact, update gas model, add gas to local
  cabal.config
  cabal.project
  pact/coin-contract/coin.repl
  project.nix
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  stack.yaml
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/golden/new-block-0-expected.txt
  test/golden/transfer-accounts-expected.txt
Labels: component: pact-service

#755 1.1 Transition, Part 1: Soft Mempool Reactivation
  src/Chainweb/Chainweb.hs
  src/Chainweb/Mempool/RestAPI/Server.hs
  src/Chainweb/Version.hs
Labels: component: mempool

#743 1.1 Transition, Part 2: Tweaked Guards
  .gitignore
  node/ChainwebNode.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/RestAPI/Server.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/RestAPI/Server.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Version.hs
Labels: component: mempool, component: miner, component: pact-service

#762 Catch decoding errors in /mining/solved
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#761 increase mempool session timeout to 300
  src/Chainweb/Mempool/P2pConfig.hs
Labels: REQ CONFIG UPDATE, component: mempool, component: p2p

#732 Performance improvements for mempool
  chainweb.cabal
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/InMemTypes.hs
  src/Chainweb/Pact/PactService.hs
Labels: component: mempool, component: pact-service

#765 Testnet04
  pact/genesis/testnet/grants0.yaml
  pact/genesis/testnet/grantsN.yaml
  src/Chainweb/BlockHeader/Genesis.hs
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Miner/Core.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/PowHash.hs
  src/Chainweb/RestAPI/Orphans.hs
  src/Chainweb/Version.hs
  src/P2P/Node.hs
  src/P2P/Peer.hs
  test/Chainweb/Test/BlockHeader/Genesis.hs
  test/Chainweb/Test/Orphans/Internal.hs
  test/Chainweb/Test/P2P/Peer/BootstrapConfig.hs
  test/golden/testnet03-block-hashes-expected.txt
  test/golden/testnet04-block-hashes-expected.txt
  tools/ea/Ea/Genesis.hs
  tools/standalone/Standalone/Chainweb.hs
  tools/test-miner/TestMiner.hs
Labels: REQ DB RESET

#617 Additional Tx Gen Repl functions
  chainweb.cabal
  overrides.nix
  stack.yaml
  tools/txg/TXG/Repl.hs
  tools/txg/TXG/ReplInternals.hs
Labels: component: tooling

#760 Use validation context for pact SPV verification instead of global consensus
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Pact/Backend/ForkingBench.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/SPV.hs
  src/Chainweb/Pact/Service/PactInProcApi.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/SPV/VerifyProof.hs
  src/Chainweb/TreeDB.hs
  test/Chainweb/Test/Pact/PactExec.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  tools/ea/Ea.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: bug, component: pact-service

#742 [mempool] Resurrect (with tweaks) PR #604
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/InMemTypes.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Mempool/RestAPI/Client.hs
  src/Chainweb/Miner/Miners.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: mempool

#748 Add exceeded gas limit to error message
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/Mempool.hs
Labels: component: mempool
