Repository kadena-io/chainweb-node, pull requests merged in 2019-07, with the labels that each got.

#247 SPV-based Defpact Support
  cabal.project
  chainweb.cabal
  default.nix
  pact/coin-contract/coin-sig.pact
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
  pact/coin-contract/load-coin-contract-sig.yaml
  src/Chainweb/BlockHeader/Genesis/Testnet00Payload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet01Payload.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/SPV.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  src/Chainweb/Pact/Utils.hs
  stack.yaml
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet00-block-hashes-expected.txt
  test/golden/testnet01-block-hashes-expected.txt
  test/golden/transfer-accounts-expected.txt
  test/golden/validateBlock-0-expected.txt
  tools/ea/Ea.hs
Labels: component: pact-service

#273 Coin Contract: Remove Redundant GOVERNANCE
  pact/coin-contract/coin.pact
  pact/coin-contract/spv-sig.pact
  src/Chainweb/BlockHeader/Genesis/Testnet00Payload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet01Payload.hs
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet00-block-hashes-expected.txt
  test/golden/testnet01-block-hashes-expected.txt
  test/golden/validateBlock-0-expected.txt
Labels: component: contract-data

#274 Remove reference to deleted file
  chainweb.cabal
Labels: component: project-config

#275 Static Nix Executables
  .gitlab-ci.yml
  default.nix
Labels: component: project-config

#282 Temporarily disable Mac CI
  .gitlab-ci.yml
Labels: component: project-config

#279 add upper bound base-unicode-symbols < 0.2.4
  cabal.project
Labels: component: project-config

#280 remove unused function from TreeDB
  src/Chainweb/TreeDB.hs
Labels: component: storage

#286 Module Caching
  src/Chainweb/BlockHeader/Genesis/Testnet00Payload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet01Payload.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  src/Chainweb/Utils.hs
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet00-block-hashes-expected.txt
  test/golden/testnet01-block-hashes-expected.txt
  test/golden/validateBlock-0-expected.txt
Labels: component: pact-service

#281 use chainweb-storage
  cabal.project
  chainweb.cabal
  default.nix
  src/Data/CAS.hs
  src/Data/CAS/HashMap.hs
  src/Data/CAS/RocksDB.hs
  stack.yaml
Labels: component: project-config, component: storage

#291 Weeding
  chainweb.cabal
  default.nix
  stack.yaml
Labels: component: project-config

#266 Add separate P2P network id for the mempool
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Chainweb/PeerResources.hs
  src/Chainweb/CutDB/RestAPI.hs
  src/Chainweb/Mempool/RestAPI.hs
  src/Chainweb/RestAPI.hs
  src/Chainweb/RestAPI/NetworkID.hs
  src/Chainweb/RestAPI/Utils.hs
  src/P2P/Node/PeerDB.hs
  src/P2P/Node/RestAPI.hs
  src/P2P/Node/RestAPI/Client.hs
  src/P2P/Node/RestAPI/Server.hs
Labels: component: p2p

#269 PactDB checkpointer + Consensus reconciliation
  chainweb.cabal
  default.nix
  node/ChainwebNode.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet00Payload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet01Payload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet02Payload.hs
  src/Chainweb/BlockHeaderDB.hs
  src/Chainweb/BlockHeaderDB/Types.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/CutDB.hs
  src/Chainweb/CutDB/Types.hs
  src/Chainweb/Mempool/Consensus.hs
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  src/Chainweb/Pact/Backend/InMemoryCheckpointer.hs
  src/Chainweb/Pact/Backend/MemoryDb.hs
  src/Chainweb/Pact/Backend/RelationalCheckpointer.hs
  src/Chainweb/Pact/Backend/SQLite/DirectV2.hs
  src/Chainweb/Pact/Backend/SQLite/V2.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/Backend/Utils.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/Service/PactInProcApi.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  src/Chainweb/Pact/Utils.hs
  src/Chainweb/Payload/PayloadStore.hs
  src/Chainweb/Payload/PayloadStore/Types.hs
  src/Chainweb/Sync/WebBlockHeaderStore.hs
  src/Chainweb/Sync/WebBlockHeaderStore/Types.hs
  src/Chainweb/TreeDB.hs
  src/Chainweb/WebBlockHeaderDB.hs
  src/Chainweb/WebBlockHeaderDB/Types.hs
  src/Chainweb/WebPactExecutionService.hs
  src/Chainweb/WebPactExecutionService/Types.hs
  src/P2P/Node.hs
  test/Chainweb/Test/CutDB.hs
  test/Chainweb/Test/MultiNode.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/PactExec.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/Chainweb/Test/Utils.hs
  test/ChainwebTests.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet00-block-hashes-expected.txt
  test/golden/testnet01-block-hashes-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  test/golden/transfer-accounts-expected.txt
  test/pact/simple.repl
  tools/ea/Ea.hs
Labels: component: pact-service

#270 A Young Miner, Cast Adrift
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/RestAPI/Orphans.hs
  stack.yaml
Labels: component: miner

#277 PactDB Checkpointer without version field
  chainweb.cabal
  src/Chainweb/Miner/POW.hs
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  src/Chainweb/Pact/Backend/RelationalCheckpointer.hs
  src/Chainweb/Pact/Backend/SQLite/DirectV2.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/Backend/Utils.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/Types.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/transfer-accounts-expected.txt
Labels: component: pact-service
