Repository kadena-io/chainweb-node, pull requests merged in 2019-08, with the labels that each got.

#341 Mining Inner Loop
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/Miner/Core.hs
  src/Chainweb/Miner/POW.hs
  test/Chainweb/Test/Pact/PactReplay.hs
Labels: component: miner

#343 Miner Consolidation
  chainweb.cabal
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Logging/Config.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Test.hs
Labels: component: miner

#354 Use batch inserts into CAS and RocksDbTables
  cabal.project
  default.nix
  src/Chainweb/BlockHeaderDB.hs
  src/Chainweb/CutDB.hs
  stack.yaml
Labels: component: storage

#350 Move the implementation for efficiently querying ancestors to TreeDB
  src/Chainweb/Cut.hs
  src/Chainweb/TreeDB.hs
  src/Chainweb/Utils.hs
Labels: component: storage

#351 [Transaction-Generator] Add REPL features
  chainweb.cabal
  tools/txg/TXG/Simulate/Contracts/CoinContract.hs
  tools/txg/TXGRepl.hs
Labels: component: tooling

#348 Simple Remote Miner Communication
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Core.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Version.hs
  tools/ea/Ea.hs
Labels: component: miner

#360 TXG: Update transaction generator yaml templates
  examples/local-templates/deploy-contracts-template.yaml
  examples/local-templates/run-simple-template.yaml
  examples/local-templates/run-standard-contracts-template.yaml
  examples/testnet-templates/deploy-contracts-template.yaml
  examples/testnet-templates/run-simple-template.yaml
  examples/testnet-templates/run-standard-contracts-template.yaml
Labels: component: tooling

#359 Remote Miner Communication Resiliance
  chainweb.cabal
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Utils.hs
  test/Chainweb/Test/Misc.hs
  test/ChainwebTests.hs
Labels: component: miner

#347 Implement precise transaction indexing using SQLite.
  chainweb.cabal
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Mempool/Consensus.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/InMemTypes.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Mempool/RestAPI.hs
  src/Chainweb/Mempool/RestAPI/Client.hs
  src/Chainweb/Mempool/RestAPI/Server.hs
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  src/Chainweb/Pact/Backend/InMemoryCheckpointer.hs
  src/Chainweb/Pact/Backend/RelationalCheckpointer.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/Backend/Utils.hs
  src/Chainweb/Pact/BloomCache.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/Service/PactInProcApi.hs
  src/Chainweb/Utils.hs
  src/Chainweb/WebPactExecutionService.hs
  test/Chainweb/Test/Mempool.hs
  test/Chainweb/Test/Mempool/Consensus.hs
  test/Chainweb/Test/Mempool/InMem.hs
  test/Chainweb/Test/Mempool/RestAPI.hs
  test/Chainweb/Test/Mempool/Sync.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/ChainwebTests.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/transfer-accounts-expected.txt
  tools/ea/Ea.hs
Labels: component: pact-service, component: storage

#365 run pact services synchronization on all chains concurrently
  src/Chainweb/Chainweb.hs
Labels: component: pact-service

#336 Miner Reward
  chainweb.cabal
  rewards/miner_rewards.csv
  src/Chainweb/Miner.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/Service/BlockValidation.hs
  src/Chainweb/Pact/Service/Types.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  src/Chainweb/Time.hs
  src/Chainweb/Utils.hs
  src/Chainweb/WebPactExecutionService.hs
  src/Chainweb/WebPactExecutionService/Types.hs
  test/Chainweb/Test/CoinContract.hs
  test/Chainweb/Test/CutDB.hs
  test/Chainweb/Test/Pact/PactExec.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/transfer-accounts-expected.txt
  tools/ea/Ea.hs
Labels: component: pact-service

#363 Miner takes a Byte out of Life
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Core.hs
  src/Chainweb/Miner/Miners.hs
  test/Chainweb/Test/Miner/Core.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/ChainwebTests.hs
Labels: component: miner

#373 Pact Test + Log Message Cleanup
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  test/Chainweb/Test/Pact/Utils.hs
Labels: component: pact-service

#370 fix savepoint logic of checkpointer
  src/Chainweb/Pact/Backend/RelationalCheckpointer.hs
  src/Chainweb/Pact/Backend/Utils.hs
  src/Chainweb/Pact/PactService.hs
Labels: component: pact-service

#368 Working on more convenience for the TXG in the repl
  chainweb.cabal
  tools/txg/TXG.hs
  tools/txg/TXG/Repl.hs
  tools/txg/TXG/ReplInternals.hs
  tools/txg/TXG/Simulate/Contracts/CoinContract.hs
  tools/txg/TXG/Simulate/Contracts/Common.hs
  tools/txg/TXG/Simulate/Utils.hs
Labels: component: tooling

#380 Remove PkgInfo dependency from chainweb library
  chainweb.cabal
  node/ChainwebNode.hs
  src/Utils/Logging.hs
  tools/txg/TXG.hs
Labels: component: project-config

#393 Tommy, stop dividing by zero, you know your father hates that.
  src/Chainweb/Difficulty.hs
  test/Chainweb/Test/Roundtrips.hs
Labels: bug

#389 Tests for pacts chain-data built-in
  chainweb.cabal
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/Pact/ChainData.hs
  test/ChainwebTests.hs
Labels: component: testing
