Repository kadena-io/chainweb-node, pull requests merged in 2019-06, with the labels that each got.

#243 prevent pow miner from spinning
  src/Chainweb/Miner/POW.hs
Labels: component: miner

#245 Count Hash Attempts
  src/Chainweb/BlockHeader.hs
  src/Chainweb/Miner/POW.hs
  src/Chainweb/Miner/Test.hs
Labels: component: miner

#193 Coin Faucet Contract
  pact/coin-contract/coin-faucet.pact
  pact/coin-contract/coin-faucet.repl
Labels: component: contract-data

#250 fix pruning of block header db
  src/Chainweb/BlockHeaderDB.hs
  src/Chainweb/Chainweb/ChainResources.hs
Labels: component: cuts

#252 make operations on peer db more strict
  src/P2P/Node/PeerDB.hs
Labels: component: p2p

#183 SQLite versioned checkpointer
  chainweb.cabal
  src/Chainweb/BlockHeader/Genesis/Testnet00Payload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet01Payload.hs
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  src/Chainweb/Pact/Backend/InMemoryCheckpointer.hs
  src/Chainweb/Pact/Backend/MemoryDb.hs
  src/Chainweb/Pact/Backend/RelationalCheckpointer.hs
  src/Chainweb/Pact/Backend/SQLite/DirectV2.hs
  src/Chainweb/Pact/Backend/SQLite/V2.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/Backend/Utils.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/Types.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/PactExec.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/local-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet00-block-hashes-expected.txt
  test/golden/testnet01-block-hashes-expected.txt
  test/golden/transfer-accounts-expected.txt
  test/golden/validateBlock-0-expected.txt
  test/pact/simple.repl
Labels: component: pact-service

#253 Delete peers with unknown certificates from the p2p peer database
  src/Network/X509/SelfSigned.hs
  src/P2P/Node.hs
  src/P2P/Node/PeerDB.hs
Labels: component: p2p
