Repository kadena-io/chainweb-node, pull requests merged in 2019-10, with the labels that each got.

#478 Pact api: don't rewind checkpointer for /local.
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
Labels: component: pact-service

#487 Cumulative Gas Limits
  src/Chainweb/Pact/PactService.hs
Labels: component: pact-service

#489 Bump Pact Version
  cabal.project
  default.nix
  src/Chainweb/Mempool/RestAPI.hs
  src/Chainweb/Mempool/RestAPI/Client.hs
  src/Chainweb/Mempool/RestAPI/Server.hs
  src/Chainweb/Miner/Pact.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/Service/Types.hs
  src/Chainweb/Pact/TransactionExec.hs
  stack.yaml
  test/Chainweb/Test/CoinContract.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/transfer-accounts-expected.txt
  tools/standalone/Standalone/Utils.hs
  tools/txg/TXG.hs
  tools/txg/TXG/Repl.hs
  tools/txg/TXG/ReplInternals.hs
  tools/txg/TXG/Simulate/Contracts/CoinContract.hs
  tools/txg/TXG/Simulate/Contracts/Common.hs
  tools/txg/TXG/Simulate/Contracts/HelloWorld.hs
  tools/txg/TXG/Simulate/Contracts/SimplePayments.hs
  tools/txg/TXG/Simulate/Utils.hs
  tools/txg/TXG/Types.hs
Labels: component: pact-service

#492 Reject Payloads by Version Incompat
  src/Chainweb/Pact/RestAPI/Server.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
Labels: component: mempool, component: pact-service

#491 Add account structure validations to coin contract
  pact/coin-contract/coin-faucet.pact
  pact/coin-contract/coin-faucet.repl
  pact/coin-contract/coin-sig.pact
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  tools/ea/Ea.hs
Labels: REQ DB RESET, component: contract-data

#503 [mempool] BlockGasLimit is now configurable
  src/Chainweb/Chainweb.hs
  src/Chainweb/Utils.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: mempool

#505 update pact
  cabal.project
  default.nix
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  src/Chainweb/Miner/Pact.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/TransactionExec.hs
  stack.yaml
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  tools/txg/TXG.hs
  tools/txg/TXG/Simulate/Contracts/Common.hs
  tools/txg/TXG/Types.hs
Labels: REQ DB RESET, component: pact-service

#502 Quiet TTL test
  test/Chainweb/Test/Pact/ChainData.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/TTL.hs
  test/Chainweb/Test/Pact/Utils.hs
Labels: component: testing

#506 Homogenize Base64 encodings in SPV + Bump Pact Version
  cabal.project
  default.nix
  src/Chainweb/Pact/SPV.hs
  src/Chainweb/Pact/TransactionExec.hs
  stack.yaml
  test/Chainweb/Test/Pact/SPV.hs
Labels: component: pact-service

#507 LTS 13
  chainweb.cabal
  src/Servant/Client_.hs
  stack.yaml
  tools/txg/TXG.hs
  tools/txg/TXG/ReplInternals.hs
Labels: component: project-config

#496 Consolidate one-off Transaction Validations
  src/Chainweb/Chainweb.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/InMemTypes.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Utils.hs
  stack.yaml
  test/Chainweb/Test/Mempool.hs
  test/Chainweb/Test/Mempool/InMem.hs
  test/Chainweb/Test/Mempool/RestAPI.hs
  test/Chainweb/Test/Mempool/Sync.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: mempool

#500 Use bounded queue for pact service
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/Service/BlockValidation.hs
  src/Chainweb/Pact/Service/PactInProcApi.hs
  src/Chainweb/Pact/Service/PactQueue.hs
  src/Chainweb/WebPactExecutionService.hs
  test/Chainweb/Test/Pact/ChainData.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/TTL.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/Chainweb/Test/Utils.hs
  tools/txg/TXG.hs
Labels: component: pact-service

#514 Mempool Validation: Detect Empty Vectors
  src/Chainweb/Mempool/InMem.hs
Labels: component: mempool

#509 [chainweb-node Main] add systemd watchdog support.
  chainweb.cabal
  default.nix
  node/ChainwebNode.hs
  src/Chainweb/Utils/Watchdog.hs
  stack.yaml
Labels: component: project-config

#511 Namespace contract
  cabal.project
  default.nix
  pact/genesis/prodnet/ns.yaml
  pact/genesis/testnet/load-ns-testnet.yaml
  pact/genesis/testnet/ns.yaml
  pact/namespaces/ns.pact
  pact/namespaces/ns.repl
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  src/Chainweb/Pact/TransactionExec.hs
  stack.yaml
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  test/golden/transfer-accounts-expected.txt
  test/pact/test1.pact
  tools/ea/Ea.hs
Labels: REQ DB RESET, component: pact-service

#522 LTS 14 + Newest Pact
  cabal.project
  chainweb.cabal
  miner/Miner.hs
  project.nix
  stack.yaml
Labels: component: project-config

#533 up-pin pact, coinbase module cache, 0 gas genesis
  cabal.project
  project.nix
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentNPayload.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMNPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  stack.yaml
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ DB RESET, component: pact-service

#535 Target checking docs
  src/Chainweb/Miner/Core.hs
Labels: component: miner

#526 Charge gas for transaction size
  src/Chainweb/Chainweb.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Transaction.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/transfer-accounts-expected.txt
Labels: component: pact-service

#536 SPV bugfix: validate target chain id
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/SPV.hs
  src/Chainweb/SPV.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  tools/ea/Ea.hs
Labels: component: pact-service

#530 Show miner hash rate stats
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/Miner/Core.hs
  src/Chainweb/Miner/Miners.hs
  test/Chainweb/Test/Pact/ChainData.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/TTL.hs
Labels: component: miner

#540 Avoid `succ`
  src/Chainweb/Miner/Core.hs
Labels: component: miner

#531 Gas Indeterminacy and payer draft
  cabal.project
  pact/gas-payer/gas-payer-v1-reference.pact
  pact/gas-payer/gas-payer-v1.pact
  pact/gas-payer/gas-payer-v1.repl
  project.nix
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  stack.yaml
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Utils.hs
  test/golden/new-block-0-expected.txt
Labels: REQ DB RESET, component: contract-data

#539 Feature Flags
  docs/BlockChainData.hs
  src/Chainweb/BlockHeader.hs
  src/Chainweb/BlockHeader/Genesis.hs
  src/Chainweb/MerkleUniverse.hs
  test/Chainweb/Test/Mempool/Consensus.hs
  test/Chainweb/Test/Orphans/Internal.hs
  test/Chainweb/Test/Utils.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ DB RESET

#542 Add negative allocation test + dedicated allocation accounts
  cabal.project
  pact/genesis/testnet/allocations.yaml
  pact/genesis/testnet/grants0.yaml
  pact/genesis/testnet/keys.yaml
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  stack.yaml
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/development-block-hashes-expected.txt
Labels: REQ DB RESET, component: contract-data

#538 Fungible Token V1
  cabal.project
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
  pact/coin-contract/fungible-v1.pact
  pact/coin-contract/load-fungible-asset.yaml
  project.nix
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentNPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMNPayload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/SPV.hs
  stack.yaml
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  tools/ea/Ea.hs
Labels: REQ DB RESET, component: contract-data

#547 [Checkpointer] Don't let createUserTable create duplicates
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  src/Chainweb/Pact/Service/Types.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
Labels: component: pact-service

#550 Caplist Test + Fixes to Cointract
  cabal.project
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
  pact/coin-contract/fungible-v1.pact
  project.nix
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentNPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMNPayload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  src/Chainweb/Pact/TransactionExec.hs
  stack.yaml
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ DB RESET, component: contract-data

#555 Correct reported Hash Rates
  miner/Miner.hs
Labels: component: miner

#557 up-pin and changes to coin contract, fungible for managed cap changes
  cabal.project
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
  pact/coin-contract/fungible-v1.pact
  project.nix
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentNPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMNPayload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  src/Chainweb/Pact/TransactionExec.hs
  stack.yaml
  test/Chainweb/Test/CoinContract.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ DB RESET, component: contract-data

#545 GPU mining support.
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/Miner/Core.hs
  tools/cwtool/CwTool.hs
  tools/test-miner/TestMiner.hs
Labels: component: miner

#559 [Mempool] Sort transactions by gas price
  src/Chainweb/Mempool/InMem.hs
Labels: component: mempool

#562 Amortized Hash Reporting
  miner/Miner.hs
  stack.yaml
Labels: component: miner

#566 Avoid div-by-zero
  miner/Miner.hs
Labels: component: miner

#573 Coin Contract Gas Utilities
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentNPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMNPayload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ DB RESET, component: contract-data

#556 Attempts to buy gas during transaction validation
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/golden/new-block-0-expected.txt
Labels: component: pact-service

#544 Time-based Disabling of Transactions/Mining
  node/ChainwebNode.hs
  src/Chainweb/BlockHeader.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/RestAPI/Server.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Version.hs
  test/Chainweb/Test/Mempool/InMem.hs
  test/Chainweb/Test/Mempool/RestAPI.hs
  test/Chainweb/Test/Mempool/Sync.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: mempool, component: miner

#541 Emergency Difficulty Adjustment
  src/Chainweb/BlockHeader.hs
  src/Chainweb/Difficulty.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Version.hs
  test/Chainweb/Test/MultiNode.hs
Labels: component: miner

#579 use url in elastic search config to support https
  src/Utils/Logging.hs
  src/Utils/Logging/Config.hs
Labels: REQ CONFIG UPDATE, component: logging

#581 Add quasiquoter for time constants
  chainweb.cabal
  src/Chainweb/BlockHeader/Genesis.hs
  src/Chainweb/Time.hs
  src/Chainweb/Version.hs
Labels: REQ DB RESET

#595 Buy gas sequencing fix
  src/Chainweb/BlockHeader.hs
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  src/Chainweb/Pact/Backend/RelationalCheckpointer.hs
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/golden/new-block-0-expected.txt
Labels: REQ DB RESET

#594 Miner Configuration
  node/ChainwebNode.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Pact/Backend/Utils.hs
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/MultiNode.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  tools/standalone/Standalone.hs
Labels: REQ CONFIG UPDATE, component: miner, component: pact-service

#597 Make chainweb-miner a bit smarter
  chainweb.cabal
  miner/Miner.hs
Labels: component: miner

#601 [mempool] don't reintroduce old transactions
  src/Chainweb/Mempool/Consensus.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Pact/Service/PactInProcApi.hs
  test/Chainweb/Test/Mempool/Consensus.hs
Labels: component: mempool

#608 Disable chainweb-tools-tests
  chainweb.cabal
Labels: component: project-config, component: testing, component: tooling

#605 Add more information on --cores flag
  miner/README.org
Labels: component: miner

#603 Bump pact version + keylists -> keysets
  cabal.project
  pact/genesis/mainnet/ns.yaml
  pact/genesis/testnet/ns.yaml
  project.nix
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentNPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMNPayload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet1Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet2Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet3Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet4Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet5Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet6Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet7Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet8Payload.hs
  src/Chainweb/BlockHeader/Genesis/Mainnet9Payload.hs
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Miner/Pact.hs
  stack.yaml
  test/Chainweb/Test/CoinContract.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/mainnet01-block-hashes-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/remote-golden-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  test/golden/transfer-accounts-expected.txt
Labels: REQ DB RESET, component: pact-service

#599 Update README.md
  README.md
Labels: documentation

#600 Update Miner README.org
  miner/README.org
Labels: documentation

#618 Fix testnet grants
  pact/genesis/prodnet/grants0.yaml
  pact/genesis/prodnet/grantsN.yaml
  src/Chainweb/BlockHeader/Genesis/Testnet0Payload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetNPayload.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/remote-golden-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  test/golden/transfer-accounts-expected.txt
Labels: REQ DB RESET, component: contract-data

#612 Randomize peerdb list
  src/P2P/Node/PeerDB.hs
  src/P2P/Node/RestAPI/Server.hs
Labels: component: p2p

#619 Setup GitHub-actions build for chainweb-node and chainweb-miner
  .github/workflows/applications.yml
Labels: component: testing

#613 Guard early against bad POW hashes
  src/Chainweb/Miner/Coordinator.hs
Labels: component: miner

#610 More Unique Key in MiningState
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#626 Guard against GPU False Positives
  miner/Miner.hs
Labels: component: miner

#630 Update allocation tests
  pact/genesis/testnet/allocations.yaml
  src/Chainweb/BlockHeader/Genesis/Development0Payload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPM0Payload.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/golden/development-block-hashes-expected.txt
Labels: REQ DB RESET, component: testing

#631 Backward-compat fix for coinbase failures.
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  test/Chainweb/Test/Pact/PactExec.hs
Labels: component: pact-service
