Repository kadena-io/chainweb-node, pull requests merged in 2019-09, with the labels that each got.

#395 New Chainweb Version - FastTimedCPM
  src/Chainweb/BlockHeader/Genesis.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Difficulty.hs
  src/Chainweb/Miner/Core.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/PowHash.hs
  src/Chainweb/Version.hs
  src/P2P/Peer.hs
  test/Chainweb/Test/Orphans/Internal.hs
  test/Chainweb/Test/P2P/Peer/BootstrapConfig.hs
Labels: component: tooling

#386 [Checkpointer] Cleanup constructors
  src/Chainweb/Pact/Backend/Bench.hs
  src/Chainweb/Pact/Backend/InMemoryCheckpointer.hs
  src/Chainweb/Pact/Backend/RelationalCheckpointer.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
Labels: component: pact-service

#398 Mempool telemetry and bound
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/InMemTypes.hs
Labels: component: mempool

#397 Fix coin balance gas limit check.
  src/Chainweb/Pact/PactService.hs
Labels: component: pact-service

#388 Coin contract function for getting the guard for an account
  pact/coin-contract/coin-sig.pact
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: component: contract-data, component: testing

#401 [PactService/Checkpointer] Amend logs
  src/Chainweb/Pact/PactService.hs
Labels: component: pact-service

#381 Minist-Evoluo
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/HostAddress.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Miner/RestAPI.hs
  src/Chainweb/Miner/RestAPI/Client.hs
  src/Chainweb/Miner/RestAPI/Server.hs
  src/Chainweb/RestAPI.hs
  src/Chainweb/RestAPI/Orphans.hs
  test/Chainweb/Test/Mempool/RestAPI.hs
  test/Chainweb/Test/Utils.hs
Labels: component: miner

#394 implement target and current block time validation
  cabal.project
  chainweb.cabal
  src/Chainweb/BlockHeader.hs
  src/Chainweb/BlockHeader/Genesis.hs
  src/Chainweb/BlockHeader/Validation.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Cut.hs
  src/Chainweb/Cut/Test.hs
  src/Chainweb/Difficulty.hs
  src/Chainweb/MerkleUniverse.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/TreeDB/Difficulty.hs
  src/Chainweb/TreeDB/Validation.hs
  src/Chainweb/Version.hs
  test/Chainweb/Test/CutDB.hs
  test/Chainweb/Test/Mempool/Consensus.hs
  test/Chainweb/Test/MultiNode.hs
  test/Chainweb/Test/Orphans/Internal.hs
  test/Chainweb/Test/Pact/ChainData.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Utils.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ RESET, component: miner

#411 Add Guard Rotation Function to Coin Contract
  pact/coin-contract/coin-sig.pact
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
Labels: REQ RESET, component: contract-data

#357 Standalone Executable
  .gitignore
  chainweb.cabal
  tools/cwtool/CwTool.hs
  tools/standalone/Standalone.hs
  tools/standalone/Standalone/Chainweb.hs
  tools/standalone/Standalone/Utils.hs
Labels: component: tooling

#415 Change mempool to avoid using psqueues package.
  chainweb.cabal
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/InMemTypes.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Mempool/RestAPI.hs
  src/Chainweb/Mempool/RestAPI/Client.hs
  src/Chainweb/Mempool/RestAPI/Server.hs
  src/Chainweb/RestAPI.hs
  src/Chainweb/Transaction.hs
Labels: component: mempool

#417 Make pact /poll endpoint use the pactdb tx index.
  chainweb.cabal
  src/Chainweb/Pact/Backend/InMemoryCheckpointer.hs
  src/Chainweb/Pact/Backend/RelationalCheckpointer.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/Service/BlockValidation.hs
  src/Chainweb/Pact/Service/Types.hs
  src/Chainweb/WebPactExecutionService.hs
  src/Chainweb/WebPactExecutionService/Types.hs
  test/Chainweb/Test/CutDB.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/Utils.hs
Labels: component: pact-service

#407 Miner asks its own Questions
  chainweb.cabal
  default.nix
  miner/Miner.hs
  src/Chainweb/BlockHeader/Genesis.hs
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/CutDB.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Core.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Miner/Pact.hs
  src/Chainweb/Miner/RestAPI.hs
  src/Chainweb/Miner/RestAPI/Client.hs
  src/Chainweb/Miner/RestAPI/Server.hs
  src/Chainweb/RestAPI.hs
  src/Chainweb/RestAPI/Orphans.hs
  src/Chainweb/Utils.hs
  stack.yaml
  test/Chainweb/Test/CutDB.hs
  test/Chainweb/Test/Mempool/RestAPI.hs
  test/Chainweb/Test/Miner/Core.hs
  test/Chainweb/Test/Utils.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  tools/standalone/Standalone/Chainweb.hs
Labels: REQ RESET, component: miner

#418 Add to prodnet grants
  pact/genesis/prodnet/grants.yaml
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ RESET, component: contract-data

#416 Add logging to Pact Endpoint handlers
  node/ChainwebNode.hs
  src/Chainweb/Pact/RestAPI/Server.hs
Labels: component: pact-service

#412 Return correct gas in tx failure result
  src/Chainweb/Pact/TransactionExec.hs
Labels: component: pact-service

#424 Add configurable log message filter
  node/ChainwebNode.hs
  src/Chainweb/Logging/Config.hs
  src/Utils/Logging.hs
Labels: component: logging

#422 NewMinedBlock: Mention the Miner
  src/Chainweb/Logging/Miner.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: logging

#423 Reworked Miner Logging
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/Miner/Pact.hs
Labels: component: logging, component: miner

#426 $$$ ~ Miner Swag ~ $$$
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Miner/Pact.hs
  src/Chainweb/RestAPI.hs
  src/Chainweb/RestAPI/Orphans.hs
  test/Chainweb/Test/Pact/PactExec.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ CONFIG UPDATE, REQ DB RESET

#433 Optimize Chain Choice
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#430 The Miner's Almanac
  miner/README.org
Labels: component: miner

#435 Corrections to Mining Guide
  miner/README.org
Labels: component: miner

#436 Default Version
  miner/Miner.hs
Labels: component: miner

#440 Mining: Report `BlockHeight` on Success
  miner/Miner.hs
  src/Chainweb/BlockHeader.hs
Labels: component: miner

#443 Typo in Miner Guide
  miner/README.org
Labels: component: miner

#429 Add SPV Handler to Pact Service
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/MerkleLogHash.hs
  src/Chainweb/Miner/RestAPI/Server.hs
  src/Chainweb/Pact/RestAPI.hs
  src/Chainweb/Pact/RestAPI/Client.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/Service/Types.hs
  src/Chainweb/RestAPI.hs
  src/Chainweb/RestAPI/Orphans.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
Labels: component: pact-service

#438 Pruning the Mining Coordination State
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Time.hs
Labels: component: miner

#444 Coin minimum precision of 12
  pact/coin-contract/coin.pact
  pact/coin-contract/coin.repl
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  src/Chainweb/Miner/Pact.hs
  test/golden/create-accounts-expected.txt
  test/golden/create-table-expected.txt
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  test/golden/transfer-accounts-expected.txt
Labels: REQ DB RESET, component: pact-service

#445 Work Request Rate-Limiting
  chainweb.cabal
  miner/Miner.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#446 Miner: Treat Servant more Rigorously
  miner/Miner.hs
  src/Chainweb/Chainweb/MinerResources.hs
Labels: component: miner

#447 MiningState Statistics
  node/ChainwebNode.hs
  src/Chainweb/BlockHeader.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#455 Fix #400 (`/poll` returns incorrect results) by fixing underlying payload bug.
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Payload.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ CONFIG UPDATE, REQ DB RESET, component: pact-service

#457 Avoid divide-by-zero error
  src/Chainweb/Chainweb/MinerResources.hs
Labels: component: miner

#458 Shush Miner
  miner/Miner.hs
  miner/README.org
Labels: component: miner

#454 [TXG] update gas limit and gas price for generated transactions
  tools/txg/TXG.hs
  tools/txg/TXG/Simulate/Contracts/Common.hs
Labels: component: tooling

#464 Header Stream
  src/Chainweb/BlockHeaderDB/RestAPI.hs
  src/Chainweb/BlockHeaderDB/RestAPI/Server.hs
  src/Chainweb/Chainweb.hs
  src/Chainweb/CutDB/RestAPI.hs
  src/Chainweb/RestAPI.hs
  test/Chainweb/Test/Mempool/RestAPI.hs
  test/Chainweb/Test/Utils.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: REQ CONFIG UPDATE

#471 Avoid rewind when input to LookupPactTxs is empty
  src/Chainweb/Chainweb.hs
  src/Chainweb/Pact/PactService.hs
Labels: component: pact-service

#459 Mining Guide Updates
  miner/README.org
Labels: component: miner

#470 [Checkpointer] Update bug fix
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
Labels: component: pact-service

#453 [Mempool] Origination/Expiry Time validations
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/Service/BlockValidation.hs
  src/Chainweb/Pact/Service/Types.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Utils.hs
  src/Chainweb/Transaction.hs
  src/Chainweb/WebPactExecutionService.hs
  src/Chainweb/WebPactExecutionService/Types.hs
  test/Chainweb/Test/CutDB.hs
  test/Chainweb/Test/Mempool.hs
  test/Chainweb/Test/Mempool/InMem.hs
  test/Chainweb/Test/Pact/ChainData.hs
  test/Chainweb/Test/Pact/PactExec.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
  tools/ea/Ea.hs
  tools/standalone/Standalone/Chainweb.hs
  tools/standalone/Standalone/Utils.hs
Labels: component: mempool

#469 more robust cut loading logic
  src/Chainweb/CutDB.hs
Labels: component: cuts

#472 [mempool] don't move pact checkpointer when checking mempool inserts.
  src/Chainweb/Chainweb.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/Service/BlockValidation.hs
  src/Chainweb/Pact/Service/Types.hs
  src/Chainweb/WebPactExecutionService.hs
  src/Chainweb/WebPactExecutionService/Types.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: mempool, component: pact-service

#463 Add a badlist to mempool
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/InMemTypes.hs
  test/Chainweb/Test/Mempool.hs
Labels: component: mempool

#473 [pact] Limit Max Signatures
  src/Chainweb/Pact/RestAPI/Server.hs
Labels: component: pact-service

#480 [PactService] take out cruft
  src/Chainweb/Pact/PactService.hs
Labels: component: pact-service

#479 Coin Contract Validations
  pact/coin-contract/coin.pact
  src/Chainweb/BlockHeader/Genesis/DevelopmentPayload.hs
  src/Chainweb/BlockHeader/Genesis/FastTimedCPMPayload.hs
  src/Chainweb/BlockHeader/Genesis/TestnetPayload.hs
  test/golden/development-block-hashes-expected.txt
  test/golden/empty-block-tests-expected.txt
  test/golden/new-block-0-expected.txt
  test/golden/testnet02-block-hashes-expected.txt
Labels: REQ DB RESET, component: contract-data

#477 Perform the same checks at validateBlock time as at newBlock
  src/Chainweb/Pact/PactService.hs
Labels: component: pact-service

#481 Add failure diagnostics for `/send` call.
  src/Chainweb/Chainweb.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/InMemTypes.hs
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Mempool/RestAPI/Client.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  test/Chainweb/Test/Mempool.hs
  test/Chainweb/Test/Mempool/InMem.hs
  test/Chainweb/Test/Mempool/RestAPI.hs
  test/Chainweb/Test/Mempool/Sync.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/golden/remote-golden-expected.txt
Labels: component: mempool, component: pact-service

#482 Add test for transaction TTL
  chainweb.cabal
  src/Chainweb/Pact/Service/BlockValidation.hs
  src/Chainweb/Pact/Utils.hs
  test/Chainweb/Test/Pact/ChainData.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/TTL.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/ChainwebTests.hs
  test/golden/new-block-0-expected.txt
Labels: component: pact-service, component: testing
