Repository kadena-io/chainweb-node, pull requests merged in 2019-12, with the labels that each got.

#767 PactService SPV/Chain-Data State Refactor
  src/Chainweb/BlockHeader/Genesis.hs
  src/Chainweb/Miner/Pact.hs
  src/Chainweb/Pact/Backend/Types.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Pact/SPV.hs
  src/Chainweb/Pact/Service/BlockValidation.hs
  src/Chainweb/Pact/Service/Types.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  src/Chainweb/Payload.hs
  src/Chainweb/Payload/PayloadStore/Types.hs
  src/Chainweb/WebPactExecutionService.hs
  src/Chainweb/WebPactExecutionService/Types.hs
  test/Chainweb/Test/CutDB.hs
  test/Chainweb/Test/Pact/PactExec.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/SPV.hs
  test/Chainweb/Test/Pact/Utils.hs
Labels: component: pact-service

#789 Extend Killswitch Dates
  chainweb.cabal
  node/ChainwebNode.hs
  src/Chainweb/Mempool/InMem.hs
  src/Chainweb/Mempool/RestAPI/Server.hs
  src/Chainweb/Pact/RestAPI/Server.hs
  src/Chainweb/Version.hs
Labels: component: project-config

#788 prune peer db and update peer selection
  src/P2P/Node.hs
  src/P2P/Node/PeerDB.hs
Labels: component: p2p

#798 reintroduce precompilation
  chainweb.cabal
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/Templates.hs
  src/Chainweb/Pact/TransactionExec.hs
  src/Chainweb/Pact/Types.hs
  src/Chainweb/Version.hs
  test/Chainweb/Test/CoinContract.hs
  test/Chainweb/Test/Pact/PactExec.hs
  test/Chainweb/Test/Pact/Utils.hs
Labels: component: pact-service

#794 [Transaction Generator] More configurable options
  tools/txg/TXG.hs
  tools/txg/TXG/Repl.hs
  tools/txg/TXG/ReplInternals.hs
  tools/txg/TXG/Simulate/Contracts/Common.hs
  tools/txg/TXG/Types.hs
Labels: component: tooling

#793 Enforce lower bound on acceptable node versions
  chainweb.cabal
  src/Chainweb/NodeVersion.hs
  src/P2P/Node.hs
Labels: component: p2p

#791 Primed Mining Coordination
  src/Chainweb/BlockHeader.hs
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Cut/Test.hs
  src/Chainweb/Miner/Config.hs
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Miner/RestAPI/Server.hs
  src/Chainweb/Pact/Backend/ForkingBench.hs
  src/Chainweb/Utils.hs
  test/Chainweb/Test/Pact/ChainData.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/TTL.hs
  test/Chainweb/Test/RestAPI.hs
  test/Chainweb/Test/Utils.hs
Labels: component: miner

#795 Limit reorganization / deep fork depth
  docs/RecoveringFromDeepForks.md
  src/Chainweb/Chainweb.hs
  src/Chainweb/Chainweb/ChainResources.hs
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  src/Chainweb/Pact/Backend/ForkingBench.hs
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/Service/PactInProcApi.hs
  src/Chainweb/Pact/Types.hs
  test/Chainweb/Test/Pact/ChainData.hs
  test/Chainweb/Test/Pact/PactInProcApi.hs
  test/Chainweb/Test/Pact/PactReplay.hs
  test/Chainweb/Test/Pact/TTL.hs
  test/Chainweb/Test/Pact/Utils.hs
  tools/ea/Ea.hs
  tools/standalone/Standalone/Chainweb.hs
Labels: component: pact-service

#808 [Tooling] Add decoding tool to cwtool
  chainweb.cabal
  tools/cwtool/CwTool.hs
  tools/encode-decode/EncodeDecodeB64Util.hs
Labels: component: tooling

#790 Debugging with Header dump
  chainweb.cabal
  overrides.nix
  tools/header-dump/HeaderDump.hs
Labels: component: tooling

#815 Log size of primed work cache
  src/Chainweb/Chainweb/MinerResources.hs
  src/Chainweb/Miner/Coordinator.hs
Labels: component: miner

#819 Primed Coordination for all Whitelisted Miners
  src/Chainweb/Miner/Coordinator.hs
  src/Chainweb/Miner/Miners.hs
  src/Chainweb/Miner/RestAPI/Server.hs
Labels: component: miner

#820 Disable charging gas for module lookups
  src/Chainweb/Pact/PactService.hs
  src/Chainweb/Pact/TransactionExec.hs
  test/golden/new-block-0-expected.txt
Labels: REQ DB RESET, component: pact-service

#821 [PactService] Inspecting the module cache on node restart.
  chainweb.cabal
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/Pact/ModuleCacheOnRestart.hs
  test/Chainweb/Test/Pact/Utils.hs
  test/ChainwebTests.hs
Labels: component: pact-service

#809 Coin Contract v2
  cabal.project
  chainweb.cabal
  pact/coin-contract/remediations/devother/remediations.yaml
  pact/coin-contract/remediations/mainnet/remediations0.yaml
  pact/coin-contract/v2/coin.pact
  pact/coin-contract/v2/coin.repl
  pact/coin-contract/v2/fungible-v2.pact
  pact/coin-contract/v2/load-coin-contract-v2.yaml
  pact/coin-contract/v2/load-fungible-asset-v2.yaml
  project.nix
  src/Chainweb/Pact/Transactions/DevOtherTransactions.hs
  src/Chainweb/Pact/Transactions/Mainnet0Transactions.hs
  stack.yaml
  test/Chainweb/Test/CoinContract.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
  test/Chainweb/Test/Pact/TransactionTests.hs
  test/ChainwebTests.hs
  tools/ea/Ea.hs
Labels: component: contract-data

#844 Up-pin wai/warp/servant
  chainweb.cabal
  overrides.nix
  stack.yaml
Labels: component: project-config

#845 More Stale Solution Data
  src/Chainweb/Logging/Miner.hs
  src/Chainweb/Miner/Coordinator.hs
Labels: component: miner

#832 Improve header-dump tool
  chainweb.cabal
  tools/header-dump/HeaderDump.hs
  tools/txstream/TxStream.hs
Labels: component: tooling

#843 [Checkpointer] Redo error messages
  src/Chainweb/Pact/Backend/ChainwebPactDb.hs
  test/Chainweb/Test/Pact/Checkpointer.hs
Labels: component: pact-service
