Repository kadena-io/chainweb-node, pull requests merged in 2020-01, with the labels that each got.

#875 Newest Warp
  chainweb.cabal
  overrides.nix
  stack.yaml
Labels: component: project-config

#891 Fix stack.yaml
  stack.yaml
Labels: component: project-config

#893 More detailed errors when attempt buy gas fails
  src/Chainweb/Mempool/Mempool.hs
  src/Chainweb/Pact/PactService.hs
  test/Chainweb/Test/Pact/RemotePactTest.hs
Labels: component: mempool, component: pact-service

#865 Additional Repl tool commands for new module testing, etc.
  chainweb.cabal
  tools/txg/TXG/Repl.hs
Labels: component: tooling

#824 Add time tracing to some internal pact service functions.
  src/Chainweb/Pact/PactService.hs
Labels: component: pact-service

#895 High Water Test
  test/Chainweb/Test/Mempool.hs
Labels: component: mempool
